.btn {
    padding: 5px 5px;
    margin: 5px 5px;
    cursor: pointer;
}

.btn__del {
    height: 20px;
    margin-bottom: 70px;
    cursor: pointer;
}

.btn__cancel,
.btn__save {
    margin-left: 3px;
    cursor: pointer;
}