.items__wrap {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    outline: 1px solid rgb(85, 85, 85);
    margin-top: 10px;
    margin-bottom: 10px;
}

.items__wrap h2 {
    text-align: center;
}

.titles {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.btn__delete {
    height: 20px;
    background-color: red;
}